<div>
<%= simple_form_for :person, url: profile_path(@user.id), method: :patch do |f| %>
  <%= f.input :first_name %><br />
  <%= f.input :last_name %>
  <%= f.input :country, collection: ["France"] %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to 'Go back', profile_path(@user.id) %>
</div>
