<h1>User profile</h1>

<!-- <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div> -->

<!-- Display the dashboard of the current user -->
<p>Your profile</p>
<%= @user.first_name %>
<%= @user.last_name %>
<%= link_to "Edit my profile", edit_profile_path(current_user) %>
<%= link_to "Delete my profile",
  profile_path(current_user),
  method: :delete,
  data: { confirm: "Delete your account?" } %>

<h2>Your accounts</h2>
<% @user.platform_accounts.each do |account| %>
  <%= account.platform.name %>
  <p> <%= account.user.first_name %> <%= account.user.last_name %> </p>

  <% account.account_seats.where(status: 'accepted').each do |account_seat| %>
    <p> <%= account_seat.user.first_name %> <%= account_seat.user.last_name %> </p>
  <% end %>

<% end %>


<h2>Your Requests to access other people's Accounts:</h2>
<% requests = @user.account_seats.where(user: current_user) %>
<% requests.each do |request|%>
  <%= 'status: ' + request.status %>
  <p>Platform: <%= request.platform_account.platform.name %></p>
  <p><%= request.platform_account.user.first_name %><%= request.platform_account.user.last_name %></p>
  <p><%= request.platform_account.seats_available %> / <%= request.platform_account.seats_total %> seats</p>
<% end %>

<h2>The Request people have made to access your Accounts:</h2>

<% if @requests.where(status: 'pending') != [] %>
<% @requests.each do |request|%>

  <%= 'status: ' + request.status %>
  <p>Platform: <%= request.platform_account.platform.name %></p>
  <p><%= request.platform_account.user.first_name %><%= request.platform_account.user.last_name %></p>
  <p><%= request.platform_account.seats_available %> / <%= request.platform_account.seats_total %> seats</p>

  <div class="change-request-button-into-text">
    <%=  simple_form_for(request, html: { class: 'change_request_button_into_accept' }) do |f|%>
      <%= f.input_field :status, value: 'accepted', class: 'd-none' %>
      <%= f.submit 'accept' %>
    <% end %>

    <%=  simple_form_for(request, html: { class: 'change_request_button_into_deny' }) do |f|%>
      <%= f.input_field :status, value: 'denied', class: 'd-none' %>
      <%= f.submit 'deny access' %>
    <% end %>
  </div>

<% end %>
<% else %>
  <h2>No requests for now</h2>
<% end %>


<% else %>
<!-- Display the profile of the user -->
  <p>The profile of someone else</p>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <!-- Review form -->
  <h3>Leave a review for <%= @user.first_name %></h3>
    <%= simple_form_for([@user, @review], url: profile_reviews_path(@user)) do |f| %>
      <%= f.input :content, require: true %>
      <%= f.input :rating, as: :select, collection: 1..5, require: true %>
    <%= f.submit%>
    <% end %>

<% end %>

<!-- List of reviews -->
<h2>Your Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %> | <%= review.rating %>/5</li>
  <% end %>
</ul>

