<h1>Platform show / platform account index</h1>

<% @accounts.each do |account| %>

  <% unless account.user == current_user %>
    <p><%= account.platform.name %><%= account.user.first_name %> - <%= account.seats_available%>/<%= account.seats_total%></p>
    <%= link_to "Show Details", platform_account_path(account) %>
  <% end %>

<% end %>
