<div class="title-header"></div>

<div class="platform-box">
  <div id="platform-img">
  <%= cl_image_tag @platform.logo.key, width: 150, crop: :fill %>
  </div>
  <p id="platform-desc"><%= @platform.description[0..300] %></p>
</div>

<% @accounts.each do |account| %>
    <div class="card-account">
      <% if account.user.photo.attached?  %>
        <%= cl_image_tag  account.user.photo.key, class: "user-profile", width: 100, height: 100, crop: :fill  %>
      <% else %>
        <%= image_tag "https://image.flaticon.com/icons/svg/1946/1946429.svg", class: "default-profile", width: 100, height: 100, crop: :fill  %>
      <% end %>
      <span class="account-title"><span><%= @platform.name %> - <%= SubscriptionType.find_by(:id == account.account_type).name %></span><br/>
      <span class="shared-by">Shared by <%= account.user.first_name.capitalize %> <%= account.user.last_name.first %>.<br/>
      <% review_sum = 0 %>
      <% review_num = 1 %>
      <% stars = "" %>
          <% account.user.review_tenants.each do |review| %>
            <% review_sum += review.rating.to_i %>
            <% review_num += 1 %>
          <% end %>
            <% review_avrg = review_sum / review_num %>
              <% review_avrg.round.times do  %>
                <span>⭐️</span>
              <% end %>
          <span class="rating"><%= review_num > 1 ? "- #{review_avrg.to_f}/5 (#{review_num})" : ""%></span>
        </span>
      </span>
      <span class="seats"  data-toggle="tooltip" data-placement="top" title="Currently, <%= account.seats_total - account.seats_available %> <%= (account.seats_total - account.seats_available) == 1 ? "user is" : "users are" %> using this account."><span class="seats_available_colorized"><%= account.seats_total - account.seats_available %></span>/<%= account.seats_total %></span>
      <%= link_to "Join", platform_account_path(account), class: "main-button" %>
    </div>
<% end %>

<style>

.platform-box {
    display: flex;
    align-items: center;
    border: solid 2px black;
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -10%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2%;
}

div#platform-img {
    padding: 2%;
    border-right: solid 2px lightgray;
}

#platform-desc {
  padding-left:  3%;
}

.card-account {
  display: flex;
  border: 2px solid #FF4949;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.shared-by {
  font-size: 0.6em;
  text-align: left;
}

.seats {
    font-size: 3em;
}

span.seats_available_colorized {
    color: #FF4949;
}

a.main-button {
    text-align: cemter;
    text-align: center;
    background-color: #FF4949;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 60px;
    color: white;
    font-weight: 600;
}

.account-title {
  font-size: 1.5em;
  font-weight: 500;
}

img.user-profile {
    border-radius: 50%;
}


.title-header {
  background-color: #FF4949;
  border-radius: 0 0 40% 40%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: -5%;
  margin-right: -5%;
  text-align: center;
}

.rating {
  color: black;
}

/* Navbar color */

a.nav-link {
    color: white !important;
}

#logo-text {
  color: white;
}

.navbar.navbar-expand-sm.navbar-light {
    background-color: #FF4949;
}
</style>
