<div class="title-header">
</div>

<div class="full-box">
  <div class="about-request">
    <h1>Your request: <%= @account.platform.name %> - <%= @account.account_type %></h1>
    <p>You are about to request to use a Netflix account of the member of the Shareflix community. By clicking “Send request” you agree to respect the behavior guidelines of the community. Any member that disrespect those guidelines will be banned from the website.</p>
  </div>
  <div class="about-account-owner">
    <% if @account.user.photo.attached?  %>
        <%= cl_image_tag  @account.user.photo.key, class: "user-profile", width: 100, height: 100, crop: :fill  %>
      <% else %>
        <%= image_tag "https://image.flaticon.com/icons/svg/1946/1946429.svg", class: "default-profile", width: 100, height: 100, crop: :fill  %>
      <% end %>
    <div class="user-name-rating"><span class="user-name"><%= @account.user.first_name.capitalize %> <%= @account.user.last_name.first %>.</span><br/>
    <% review_sum = 0 %>
      <% review_num = 1 %>
      <% stars = "" %>
          <% @account.user.review_tenants.each do |review| %>
            <% review_sum += review.rating.to_i %>
            <% review_num += 1 %>
          <% end %>
            <% review_avrg = review_sum / review_num %>
              <% review_avrg.round.times do  %>
                <span>⭐️</span>
              <% end %>
          <span class="rating"><%= review_num > 1 ? "(#{review_avrg.to_f}/5)" : ""%></span><br/>
      <%= link_to "Visit #{@account.user.first_name.capitalize}'s profile", profile_path(@account.user), class: "profile-link" %>
    </div>
  </div>
  <div class="about-account">
    <div class="img-seats">
    <div id="platform-img">
      <%= cl_image_tag @account.platform.logo.key, width: 150, crop: :fill %>
    </div>
    <span class="seats"><span class="seats_available_colorized"><%= @account.seats_available %></span>/<%= @account.seats_total %></span>
  </div>
    <% if @account.user != current_user && !current_user.subscribed?(@account) %>
    <%=  simple_form_for @account_seat do |f|%>
      <%= f.input_field :platform_account_id, value: @account.id, class: 'd-none' %>
      <%= f.input_field :user_id, value: current_user.id, class: 'd-none' %>
      <%= f.submit %>
    <% end %>
  <% end %>
  </div>

  <div class = "userconditions unselected_conditions" id = "conditions" >
    <p>Insérer les conditions d'utilisation</p>
    <a href="" class="btn-primary accept-btn">J'accepte les conditions d'utilisation</a>
  </div>
</div>


<style>

body {
  background-color: #FFEAEA;
}

.full-box {
  margin-top: -10%;
  margin-bottom: 10%;
  background-color: white;
  border: solid red 2px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  border-radius: 35px;
}

.title-header {
  background-color: white;
  border-radius: 0 0 40% 40%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: -5%;
  margin-right: -5%;
  text-align: center;
}

.about-account-owner {
    display: flex;
    align-items: center;
    margin-top: 5%;
    border-top: 2px solid #f3f3f3;
    padding-top: 5%;
}

.user-name {
    font-weight: 600;
}


img.user-profile {
    margin-right: 3%;
}

.profile-link:hover {
  color: #FF4949;
}

.about-account {
  display: flex;
  margin-top: 5%;
  padding-top: 5%;
  border-top: solid 2px #f3f3f3;
  align-items: center;
  justify-content: space-between;
}

.img-seats {
  display: flex;
  align-items: center;
}

div#platform-img {
    padding-right: 10% !important;
    margin-right: 10% !important;
}

input[type="submit"] {
    border: none;
    background-color: #FF4949;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 50px;
}

/* Navbar color */

a.nav-link {
    color: #FF4949 !important;
}

#logo-text {
  color: #FF4949;
}

.navbar.navbar-expand-sm.navbar-light {
    background-color: white;
}
</style>
