<h1>Platform account show - Send request</h1>

<p>User: <%= @account.user.first_name %></p>
<p>Platform: <%= @account.platform.name %></p>
<p><%= @account.seats_available%>/<%= @account.seats_total%></p>
<p><%= @account.account_type%> account</p>

<% if @account.user != current_user && !current_user.subscribed?(@account) %>
  <%=  simple_form_for @account_seat do |f|%>
    <%= f.input_field :platform_account_id, value: @account.id, class: 'd-none' %>
    <%= f.input_field :user_id, value: current_user.id, class: 'd-none' %>
    <%= f.submit %>
  <% end %>
<% end %>

<div class = "userconditions unselected_conditions" id = "conditions" >
  <p>Insérer les conditions d'utilisation</p>
  <a href="" class="btn-primary accept-btn">J'accepte les conditions d'utilisation</a>
</div>
