<div class="row chats" data-controller="chatrooms">
  <div class="col-4 chatroom", id = "chatrooms">
    <% @chatrooms.each do |chatroom| %>
      <span data-id="<%= chatroom.id %>" data-target="chatrooms.chatroom" data-action="click->chatrooms#toto">
        <%=  chatroom.platform_account.platform.name %>
      </span>
        <% end %>
    </div>
  <div data-target = "chatrooms.messages" class="col-8 messages">
  </div>
</div>
<div class="d-none" data-user-id="<%= current_user.id %>"></div>
<div class="form-message d-none">
  <%= simple_form_for(@message) do |f| %>
    <%= f.input_field :chatroom_id, value: @chatrooms.first.id, class: 'd-none chatroom-id' %>
    <%= f.input_field :user_id, value: current_user.id, class: 'd-none' %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
